<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matheuseamanda.calculoimc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/calculador_imc_e_tmb"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_Activity"
                  android:label="KCalculando">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculoIMC"
                  android:label="Calculo IMC"/>
        <activity android:name=".resultado"
                  android:label="Resultado"/>
        <activity android:name=".Calculo_Calorias"
                  android:label="Calculo TMB"/>
        <activity android:name=".Activity_IMC"
                  android:label="Informativo"/>
        <activity android:name=".Activity_Calorias"
                  android:label="Informativo"/>
        <activity android:name=".activity_calorias_resultado"
                  android:label="Resultado"/>
        <activity android:name=".Historico_IMC"
                  android:label="Histórico IMC"/>
        <activity android:name=".historico_tmb"
                  android:label="Histórico TMB">

        </activity>
    </application>

</manifest>